/* #NAVIGATION */
@media (max-width:1191px) {
#nav ul li{
  padding: 15px 14px;
  font-size: 16px;
}
#nav .right_nav button{
font-size: 14px;
padding: 5px;
width: 93px;
}
#nav .right_nav ion-icon{
font-size: 24px;
}
}

@media (max-width:976px){
  #nav .right_nav .menu_open{display: block;margin-left: 12px;}
  #nav ul{
    display: none;
  }
  #nav .right_nav button{
    display: none;
  }
  #nav .right_nav{position: relative;right: 30px;}

  #menu button{
    width: 90%;
    margin-inline: 5%;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 550px) and (max-width:768px){
main .container{
max-width: 520px;
}
}
@media screen and (min-width: 768px) and (max-width:992px){
main .container{
max-width: 720px;
}
}
    /* #HERO */
@media screen and (min-width: 550px) and (max-width:992px) {
#hero small{

font-size: 25px;

}
#hero h1{

font-size: 45px;

}
#hero .hero-content{
max-width: 100%;
}
}
@media (max-width:550px) {
  main .container{
    max-width: none;
  }
}
#hero .row{
  padding: 0px 26px;
}

@media (max-width:550px) {
  #hero h1{

margin-bottom: 29px;

line-height: 1;

font-size: 36px;

}
  #hero small{

font-size: 22px;
  }
  #nav{
    position: relative;
  }
  #nav .right_nav ion-icon{
    display: none;
  }
  #nav .right_nav .language_wrape{
    display: none;
  }
}
@media (max-width:800px) {
  #nav .col-xs-2{
    width: 22%;
  }
  #nav .col-xs-10{
    width: 78%;
  }
  #nav .logo{
    margin: 7px 0;
  }
  #nav .right_nav{
  padding-block: 8px;
  }
}
@media (max-width:650px) {
  #cta{

  }

#cta .input_section button {
    position: relative;
    margin-inline: auto;
    margin-top: 25px;
}
}
@media (max-width:992px) {
  #nav ul li{

padding: 21px 13px;

font-size: 16px;
}
#cta .col-xs-6{
  width: 100%;
}
hr{
  display: none;
}
#cta{

text-align: center;
}

#cta .input_section input {max-width: 530px;}
}

@media (max-width:992px) {
  #upcoming .wraper{

  }
  #upcoming .wraper .col-xs-5{

width: 100%;

}
  #upcoming .wraper .col-xs-7{

width: 100%;

}
  #upcoming .wraper{

text-align: center;

}
  #upcoming .wraper small{

  }
  #upcoming .wraper h1{

margin-block: 19px;

}
  #upcoming .wraper ul{text-align: center;}
  #upcoming .wraper ul li{

padding: 10px 10px;

}
}



@media (max-width:800px) {
  .size{
    width: 75%;
  }
  .size1{
    width: 5%;
    position: absolute;
    right: 161px;
  }
  .size2{
    position: absolute;
    right: 50px;
    width: 100px;
  }
  .size3{
    width: 40px;
    position: absolute;
    right: 0;
  }
}
@media (max-width:992px){
  .price_size{
    width: 100%;
  }
  .price_size1{
    width: 50%
  }
  .price_size2{
    width: 50%
  }


}
@media (max-width:350px){
  #pricing .price_card{
    width: 100%
  }
}
@media (max-width:768px){
  .price_size{
    width: 100%;
  }
  .price_size1{
    width: 100%
  }
  .price_size2{
    width: 100%
  }

}
@media (max-width:768px){
  #footer .footer_top ul{
    text-align: center;
  }
  #footer .footer_top .social{
    text-align: center;
  }
  #footer .footer_top .social li{
        margin-block: 10px;
  }
  .divider{
  margin-block:35px;
  }
  #footer .footer_top{
    padding: 20px;
  }
  #footer_bottom p{
    margin-bottom: 20px;
  }
}
@media (max-width:523px){
  #footer .footer_top ul li{
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #footer .footer_top ul{
    padding-top: 20px;
  }
}
@media (max-width:380px){
  #footer_bottom .img{
    text-align: center;

  }
  #footer_bottom img{
    width: 100%;
  }
  #footer_bottom p{
    text-align: center;

  }
}


@media (min-width:1199px){

  #sliderbar .owl-dots {
    display: none;
  }
}

@media (max-width:550px){

  #sliderbar .owl-dots .owl-dot.active{
    width: 25%;
  }
  #sliderbar .owl-dots .owl-dot {
    width: 25%;
  }
}
@media screen and (min-width:550px) and (max-width:992px){
  #sliderbar .owl-dots .owl-dot.active{
    width: 50%;
  }
  #sliderbar .owl-dots .owl-dot {
    width: 50%;
  }
}
@media screen and (min-width:992px) and (max-width:1200px){
  .servicesize1,.servicesize2{
    width: 50%;
  }
  #service .banner .img{
    width: 100%;
  }
  #service .banner button{

right: 120px;

bottom: 20px;
  }
}
@media (max-width:992px){
  .servicesize1,.servicesize2{
    width: 100%;
  }
  #service small {
    margin-top: 50px;
}
}
@media (max-width:767px){
  #service .banner .img{
    width: 100%;
  }
  #service .banner button{

right: 137px;

bottom: 20px;
  }
}
@media (max-width:500px){
  .servicesize3{
    width: 100%;
  }
#service{
  padding: 20px;
  padding-block: 100px;
}
#service .banner button{

position: relative;

transform: rotate(0deg);
margin-top: 20px;
right: 0;

bottom: 0;

padding: 25px 45px;

padding-right: 57px;
}

#service .banner .img {
    background-position: bottom;
}
#service .item .icon{

margin: 0px;
}
}

@media (max-width:450px){
  #service .banner .img {height: 410px;}

#service h1 {
    font-size: 25px;
}

}
@media (max-width:400px){
  #service .banner .img {height: 340px;}

}
@media (max-width:350px){
  #service .banner .img {height: 300px;}

}
@media (max-width:300px){
  #service .banner .img {height: 250px;}

}
@media screen and (min-width:992px) and (max-width:1200px){
  .top_rated_size,.tv_series_size{
  width: 33.33%;
  }
  .top_rated_size4,.top_rated_size5,.top_rated_size3{
    display: none;
  }
  .border_add {
    display: block;
  }
}
@media screen and (min-width:550px) and (max-width:992px){
  .top_rated_size,.tv_series_size{
  width: 50%;
  }
  .top_rated_size1,.top_rated_size4,.top_rated_size1,.top_rated_size2,.top_rated_size5,.top_rated_size3{
    display: none;
  }
  .border_add {
    display: block;
  }
}


@media (max-width:550px){
  .top_rated_size,.tv_series_size{
  width: 100%;
  }
<<<<<<< HEAD

=======
 
>>>>>>> 56edbcb2f15ce91a623558327712e48d1779472f
  .top_rated_size4,.top_rated_size1,.top_rated_size2,.top_rated_size5,.top_rated_size3{
    display: none;
  }
  .border_add {
    display: block;
    height: 150px;
  }
  .border_add ion-icon {
    height: 150px;
  }
  #upcoming .cards, #service .cards, #top_rated .cards,#tv_series .cards{
    margin-inline: 70px;
  }
}

@media (max-width:450px){
  #upcoming .cards, #service .cards, #top_rated .cards,#tv_series .cards{
    margin-inline: 35px;
  }
}









/* SS */
